.git
.github
.config
.changeset
.turbo
.vercel
docs
.nuxt
.output
dist
coverage
node_modules
*/node_modules
*/.nuxt
*/.output
*/dist
*.log
.env
.env.*
!.env.example
!apps/shelve/.env.example
playground/run/.env*
playground/run/node_modules
